{% extends "base_page_layout.html" %}

{% block header %}
    <div class="row justify-content-center">
        <div class="col col-md-5">
            <h3 class="text-center my-2">Dive right in with a random entry.</h3>
            <ul class="LinkNavbar nav nav-fill d-flex flex-wrap justify-content-center my-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">Article</a>
                </li>
                <div class="vr" style="width: 2px"></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">Transcript</a>
                </li>
                <div class="vr" style="width: 2px"></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">Journey</a>
                </li>
                <div class="vr" style="width: 2px"></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">Any</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block innercontent %}

    <div class="vstack g-0 justify-content-start">
        <h2 class="card text-center py-3 my-0">Featured Entries</h2>
        {% for post in featured %}
            {% set page_link = "pages/" + post.id %}
                <div class="card flex-row justify-content-start">
                    <div class="row g-0">
                        <img class="card-img-left img-fluid col p-3"
                             style="max-height:250px; object-fit: cover"
                             src={{ post.thumbnail_src }}>
                        <div class="card-body text-start col-md-6 d-flex flex-column">
                            <div class="d-flex flex-row align-items-baseline mb-2">
                                <h3 class="mb-0">{{ post.type }} </h3>
                                <div class="vr mx-2"></div>
                                <h5 class="mb-0"> {{ post.subtype }}</h5>
                            </div>
                            <a class="card-title h2 link-dark mb-3" href="{{ page_link }}">{{ post.title }}</a>
                            <p>
                                {{ post.description }}
                            </p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

{% endblock %}




